.desire-card-list {
    display: flex;
    justify-content: center; /* Центрируем карточки по горизонтали */
    flex-wrap: wrap; /* Если карточек больше, они будут переходить на новую строку */
    gap: 32px; /* Расстояние между карточками */
    padding: 20px;
}

.divider {
    border: none;
    border-top: 1px dashed #ddd; /* Пунктирная линия */
    margin: 20px 0;
}
