/* src/components/Form/InputField.module.css */
.input-group {
    margin-bottom: 20px;
  }
  
  .input {
    width: 100%;
    padding: 18px 16px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    font-size: 16px;
    outline: none;
    color: rgb(124, 128, 146);
    font-size: 18px;
    line-height: 24px;
  }
  