/* RandomQuote.module.css */
.blockquote {
    width: 50%;
    font-size: 1.5rem;
    font-style: italic;
    color: #555;
    margin: 20px auto;
    padding: 0 20px;
    padding-left: 30px;
    position: relative;
    min-height: 120px;
    transition: opacity 1s ease-in-out; /* Плавный переход */
}

.blockquote::before {
    content: "“";
    font-size: 4rem;
    color: #007bff;
    position: absolute;
    left: -40px;
    top: -20px;
}

.blockquote::after {
    content: "”";
    font-size: 4rem;
    color: #007bff;
    position: absolute;
    right: -30px;
    bottom: -20px;
}

.visible {
    opacity: 1; /* Цитата видима */
}

.hidden {
    opacity: 0; /* Цитата скрыта */
}
