/* Блок для контейнера формы регистрации */
.registration-form {
    background: rgb(16, 37, 28);
    padding: 32px 24px;
    border-radius: 16px;
    width: 100%;
    max-width: 464px;
    margin: 0 auto;
    color: white;
}

/* Элемент заголовка */
.registration-form__title {
    color: rgb(250, 246, 243);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 48px;
}

/* Элемент группы ввода */
.registration-form__group {
    margin-bottom: 20px;
}

/* Элемент поля ввода */
.registration-form__input {
    width: 100%;
    padding: 18px 16px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
    color: rgb(124, 128, 146);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

/* Элемент кнопки отправки */
.registration-form__button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px 16px 32px;
    border-radius: 12px;
    background: rgb(79, 70, 229);
    border: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

/* Элемент сообщения */
.registration-form__message {
    text-align: center;
    color: #4caf50;
    margin-top: 15px;
}

.registration-form__arrow {
    margin-left: 30px;
}

@media (max-width: 768px) {
    .registration-form {
        max-width: 375px;
    }
}