/* Блок для контейнера формы регистрации */
.registration-form {
    background: rgb(16, 37, 28);
    padding: 32px 24px;
    border-radius: 16px;
    width: 100%;
    max-width: 464px;
    margin: 0 auto;
    color: white;
}

/* Элемент заголовка */
.registration-form__title {
    color: rgb(250, 246, 243);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
    margin-bottom: 48px;
}

/* Элемент группы ввода */
.registration-form__group {
    margin-bottom: 20px;
}

/* Элемент поля ввода */
.registration-form__input {
    width: 100%;
    padding: 18px 16px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    font-size: 16px;
    outline: none;
    color: rgb(124, 128, 146);
    font-size: 18px;
    line-height: 24px;
    box-sizing: border-box;
}

/* Элемент кнопки отправки */
.registration-form__button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    border-radius: 12px;
    background: rgb(79, 70, 229);
    border: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
}

/* Элемент текста для соглашения */
.registration-form__privacy {
    color: rgb(161, 161, 170);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 10px;
}

/* Элемент ссылки */
.registration-form__link {
    color: rgb(79, 70, 229);
    text-decoration: none;
}

/* Разделительная линия */
.registration-form__divider {
    margin: 20px 0;
    border: 0;
    height: 1px;
    background: white;
}

/* Элемент текста с предложением войти */
.registration-form__login-prompt {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}