/* Стили для страницы регистрации */
.register-page {
    display: flex;
    flex-direction: column;
    padding: 32px;
    background-color: #f4f4f9;
    border-radius: 24px;
    height: 100vh;
    padding-top: 64px;
}

.register-page__title {
    font-size: 32px;
    margin-bottom: 96px;
    color: #333;
}

@media (max-width: 768px) {
    .register-page__title {
        font-size: 28px;
        margin-bottom: 48px;
    }
}