/* src/components/LoginForm/LoginForm.module.css */
.login-form {
    background: rgb(16, 37, 28);
    padding: 32px 24px;
    border-radius: 16px;
    width: 100%;
    max-width: 464px;
    margin: 0 auto;
    color: white;
}

.login-form__title {
    color: rgb(250, 246, 243);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
    margin-bottom: 48px;
}

.login-form__group {
    margin-bottom: 20px;
}

.login-form__input {
    width: 100%;
    padding: 18px 16px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    font-size: 16px;
    outline: none;
    color: rgb(124, 128, 146);
    font-size: 18px;
    line-height: 24px;
    box-sizing: border-box;
}

.login-form__button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    border-radius: 12px;
    background: rgb(79, 70, 229);
    border: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
}

.login-form__message {
    text-align: center;
    color: #4caf50;
    margin-top: 15px;
}

.error {
    color: red;
    text-align: center;
    margin-top: 10px;
}

/* Контейнер для текста "Забыли пароль?" */
.login-form__forgot-password {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 20px;
}

/* Ссылка "Восстановить" */
.login-form__link {
    color: rgb(79, 70, 229);
    text-decoration: none;
}

.login-form__link:hover {
    text-decoration: underline;
}

/* Адаптивные стили */

/* Для экранов до 768px */
@media (max-width: 768px) {
    .login-form {
        padding: 24px 16px;
        max-width: 100%;
    }

    .login-form__title {
        font-size: 28px;
        line-height: 34px;
        text-align: center;
        margin-bottom: 32px;
    }

    .login-form__input {
        padding: 14px 12px;
        font-size: 16px;
        border-radius: 12px;
    }

    .login-form__button {
        padding: 14px 20px;
        font-size: 18px;
    }

    .login-form__forgot-password {
        font-size: 20px;
        text-align: center;
    }

    .login-form__link {
        font-size: 18px;
    }
}

/* Для экранов до 480px */
@media (max-width: 480px) {
    .login-form {
        padding: 20px 12px;
        box-sizing: border-box;
    }

    .login-form__title {
        font-size: 24px;
        line-height: 30px;
    }

    .login-form__input {
        padding: 12px 10px;
        font-size: 14px;
    }

    .login-form__button {
        padding: 12px 18px;
        font-size: 16px;
    }

    .login-form__forgot-password {
        font-size: 18px;
    }

    .login-form__link {
        font-size: 16px;
    }
}
