/* src/pages/ResetPassword/ResetPasswordPage.module.css */
.reset-password-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #10251c;
  }
  